fastapi
uvicorn
requests
boto3
python-dotenv
pydantic

langchain
langchain-core
langchain-community
langchain-aws
langchain-anthropic==1.3.0
langchain-google-genai==4.1.2

pinecone
cryptography==46.0.3

streamlit
requests
python-dotenv

pytest