services:
  app:
    # 도커 허브(일종의 레퍼지토리)를 기반으로 이미지 사용
    # 도커허브상계정명(프로필명)/이미지명:태그명
    # 시크릿 변수에서 사용한다는 전제
    image: ${DOCKER_USERNAME}/fastapi-app:latest
    container_name: fastapi_app
    restart: always    
    command: >
      sh -c "
      uvicorn main:app --host 0.0.0.0 --port 8000 &
      streamlit run ui.py --server.address 0.0.0.0 --server.port 8501
      "

  nginx:
    # 도커허브내 커스텀 이미지 활용
    image: ${DOCKER_USERNAME}/nginx-proxy:latest #nginx:alpine
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
    #volumes:
    #  - ./nginx/web.conf:/etc/nginx/conf.d/default.conf
    networks:
      - my-net
    depends_on:
      - app
    
networks:
  my-net:
    driver: bridge